body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	height: 50px;
	width: 50px;
	padding: 10px;
}
.postcard-header h1 {
	margin: 0%;
	width: 100%;
	padding: 10px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin: 0%;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
}
button {
	background-color: rgba(89, 92, 95, 0.213);
	padding: 5px 10px;
	border: none;
}
.postcard-footer {
	text-align: center;
}
